<!DOCTYPE html>
<html>
  <head>
    <style>
      rect {
        fill: transparent;
        shape-rendering: crispEdges;
      }
      .axis path,
      .axis line {
        fill: none;
        stroke: rgba(0, 0, 0, 0.1);
        shape-rendering: crispEdges;
      }

      .axisLine {
        fill: none;
        shape-rendering: crispEdges;
        stroke: rgba(0, 0, 0, 0.5);
        stroke-width: 2px;
      }

	.http://l5vd5.asuscomm.com:3001/dot {
	  fill-opacity: .5;
	}

	.d3-tip {
	  line-height: 1;
	  font-weight: bold;
	  padding: 12px;
	  background: rgba(0, 0, 0, 0.8);
	  color: #fff;
	  border-radius: 2px;
	}

	/* Creates a small triangle extender for the tooltip */
	.d3-tip:after {
	  box-sizing: border-box;
	  display: inline;
	  font-size: 10px;
	  width: 100%;
	  line-height: 1;
	  color: rgba(0, 0, 0, 0.8);
	  content: "\25BC";
	  position: absolute;
	  text-align: center;
	}

	/* Style northward tooltips differently */
	.d3-tip.n:after {
	  margin: -1px 0 0 0;
	  top: 100%;
	  left: 0;
	}

	.target_word {
	  color: orange
	}

    </style>
    <script type="text/javascript" src="https://d3js.org/d3.v3.min.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
    <script>
    // set the dimensions and margins of the graph
      window.onload = function() {
        width = 1700
        height = 2000
        top_margin = 100
        left_margin = 130
        box_w = ((width - left_margin) / 25) + 1
        box_h = ((height - top_margin) / 8) + 1

        var nth = <%=nth%>

        d3.json("../attention.json", function (data) {
          var context = data['context']
          var contextLen = data['contextLen']
          var contextLenSum = contextLen.slice(0, nth-1);
          var len = contextLen[nth-1];
          var sum = contextLenSum.reduce(add, 0);
          var currentContext = context.slice(sum, sum+len);

          c2q_attn = data.c2q_attn[nth-1];//Current c2q_attn
          currentQuestion = data.questionSet[nth-1];//Current question

          var max = 0;
          var min = 1;

          $.each(c2q_attn, function(idx, val) {
            $.each(val, function(idx2, val2) {
              if (max < val2)
                max = val2;
              if (min > val2)
                min = val2;
            }
          )});

          var x = d3.scale.linear()
            .range([0, width])
            .domain([0,c2q_attn[0].length]);

          var y = d3.scale.linear()
            .range([0, height])
            .domain([0, c2q_attn.length])

          var xAxis = d3.svg.axis()
            .scale(x)
            .orient("top")
            .ticks(currentQuestion.length)
            .tickFormat(function(d) {return currentQuestion[d]})
            .tickPadding(10)

          var yAxis = d3.svg.axis()
            .scale(y)
            .orient("left")
            .ticks(currentContext.length)
            .tickFormat(function(d) {return currentContext[d]})
            .tickPadding(10, 10)

          d3.selectAll("text")
            .attr('y', 5)

          var chart = d3.select('#graph')
            .append('svg')
            .attr('class', 'chart')
            .attr('width', width+150)
            .attr('height', height+50)

          var colorLow = 'white', colorMed = 'pink', colorHigh = 'red';

          var colorScale = d3.scale.linear()
           .domain([min, max])
           .range([colorLow, colorMed, colorHigh]);

          var row = chart.selectAll(".row")
            .data(c2q_attn)
              .enter().append("svg:g")
              .attr("class", "row");

          var col = row.selectAll(".cell")
            .data(function (d,i) {return d.map(function(a){return {value: a, row: i};})})
            .enter().append("svg:rect")
              .attr("class", "cell")
              .attr("x", function(d, i) { return 100+x(i); })
              .attr("y", function(d, i) { return 50+y(d.row); })
              .attr("width", x(1))
              .attr("height", y(1))
              .style("fill", function(d) { return  colorScale(d.value) });

          chart.append("g")
            .attr("class", "y axis")
            .attr("transform", "translate(100, 50)")
            .attr("fill", "#666666")
            .call(yAxis)

          chart.append("g")
            .attr("class", "x axis")
            .attr("transform", "translate(100, 50)")
            .attr("fill", "#666666")
            .call(xAxis)

          function add(a, b) {
            return a + b;
          }
        });

      }


    </script>
    <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
  </head>
  <body>
    <div id="graph"></div>
  </body>
</html>
